<a href="https://colab.research.google.com/github/Kevin12-0/apacheSpark/blob/main/TransformsAndActions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalar pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
rdd = spark.sparkContext.textFile("paises.csv")

In [ ]:
rdd1 = rdd.map(lambda line:line.split(","))

In [ ]:
rdd1

PythonRDD[7] at RDD at PythonRDD.scala:53

In [ ]:
rdd1.take(15)

[['id', 'equipo', 'sigla'],
 ['1', '30. Februar', 'AUT'],
 ['2', 'A North American Team', 'MEX'],
 ['3', 'Acipactli', 'MEX'],
 ['4', 'Acturus', 'ARG'],
 ['5', 'Afghanistan', 'AFG'],
 ['6', 'Akatonbo', 'IRL'],
 ['7', 'Alain IV', 'SUI'],
 ['8', 'Albania', 'ALB'],
 ['9', 'Alcaid', 'POR'],
 ['10', 'Alcyon-6', 'FRA'],
 ['11', 'Alcyon-7', 'FRA'],
 ['12', 'Aldebaran', 'ITA'],
 ['13', 'Aldebaran II', 'ITA'],
 ['14', 'Aletta', 'IRL']]

In [ ]:
rdd1.map(lambda x: (x[2])).distinct().count()

231

# Cuantos equipos hay

In [ ]:
rdd1.map(lambda x: (x[2],x[1])).groupByKey().mapValues(len).take(5)

[('ARG', 18), ('AFG', 1), ('IRL', 7), ('POR', 21), ('AUS', 23)]

## Mostrar todos los valores en lista

In [ ]:
rdd1.map(lambda x: (x[2],x[1])).groupByKey().mapValues(list).take(5)

[('ARG',
  ['Acturus',
   'Antares',
   'Arcturus',
   'Ardilla',
   'Argentina',
   'Argentina-1',
   'Argentina-2',
   'Blue Red',
   'Covunco III',
   'Cupidon III',
   'Djinn',
   'Gullvinge',
   'Matrero II',
   'Mizar',
   'Pampero',
   'Rampage',
   'Tango',
   'Wiking']),
 ('AFG', ['Afghanistan']),
 ('IRL',
  ['Akatonbo',
   'Aletta',
   'Ireland',
   'Ireland-1',
   'Ireland-2',
   'The Cloud',
   'Three Leaves']),
 ('POR',
  ['Alcaid',
   'Argus',
   'Calcinhas',
   'Camelia',
   'Ciocca III',
   'Espadarte',
   'Espardate',
   'Faneca',
   'Galopin De La Font',
   'Grifo III',
   'Grifo IV',
   'Hannover',
   "Ma'Lindo",
   'Notavel',
   'Oxalis',
   'Portugal',
   'Portugal-1',
   'Portugal-2',
   'Sjhxa',
   'Symphony',
   'Vicking']),
 ('AUS',
  ['Amateur Athletic Association',
   'Australia',
   'Australia-1',
   'Australia-2',
   'Australia-3',
   'Australia/Great Britain',
   'Barrenjoey',
   'Buraddoo',
   'Cambria',
   'Diablo',
   'Falcon IV',
   'Falcon VI',
   'Gabbiano',
   'Greenoaks Dundee',
   'Hornet',
   'Maryke',
   'Moorina',
   'Naiad',
   'Pakaria',
   'Paula',
   'Quando Quando',
   'Relampago',
   'Vinha'])]

## Ubicar datos que coincidad

In [28]:
equipos_argentinos = rdd1.filter(lambda l : "ARG" in l)
equipos_argentinos.collect()

[['4', 'Acturus', 'ARG'],
 ['37', 'Antares', 'ARG'],
 ['42', 'Arcturus', 'ARG'],
 ['43', 'Ardilla', 'ARG'],
 ['45', 'Argentina', 'ARG'],
 ['46', 'Argentina-1', 'ARG'],
 ['47', 'Argentina-2', 'ARG'],
 ['119', 'Blue Red', 'ARG'],
 ['238', 'Covunco III', 'ARG'],
 ['252', 'Cupidon III', 'ARG'],
 ['288', 'Djinn', 'ARG'],
 ['436', 'Gullvinge', 'ARG'],
 ['644', 'Matrero II', 'ARG'],
 ['672', 'Mizar', 'ARG'],
 ['774', 'Pampero', 'ARG'],
 ['843', 'Rampage', 'ARG'],
 ['1031', 'Tango', 'ARG'],
 ['1162', 'Wiking', 'ARG']]

## Conteo total de todo el contenido

In [29]:
rdd1.count()

1185

## Saber cuantos valores tiene el RDD

In [30]:
rdd1.countApprox(20)

1185