# Instalar pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
rdd = spark.sparkContext.textFile("paises.csv")

In [ ]:
rdd1 = rdd.map(lambda line:line.split(","))

In [ ]:
rdd1

PythonRDD[7] at RDD at PythonRDD.scala:53

In [ ]:
rdd1.take(15)

[['id', 'equipo', 'sigla'],
 ['1', '30. Februar', 'AUT'],
 ['2', 'A North American Team', 'MEX'],
 ['3', 'Acipactli', 'MEX'],
 ['4', 'Acturus', 'ARG'],
 ['5', 'Afghanistan', 'AFG'],
 ['6', 'Akatonbo', 'IRL'],
 ['7', 'Alain IV', 'SUI'],
 ['8', 'Albania', 'ALB'],
 ['9', 'Alcaid', 'POR'],
 ['10', 'Alcyon-6', 'FRA'],
 ['11', 'Alcyon-7', 'FRA'],
 ['12', 'Aldebaran', 'ITA'],
 ['13', 'Aldebaran II', 'ITA'],
 ['14', 'Aletta', 'IRL']]

In [ ]:
rdd1.map(lambda x: (x[2])).distinct().count()

231

# Cuantos equipos hay

In [ ]:
rdd1.map(lambda x: (x[2],x[1])).groupByKey().mapValues(len).take(5)

[('ARG', 18), ('AFG', 1), ('IRL', 7), ('POR', 21), ('AUS', 23)]

## Mostrar todos los valores en lista

In [ ]:
rdd1.map(lambda x: (x[2],x[1])).groupByKey().mapValues(list).take(5)

[('ARG',
  ['Acturus',
   'Antares',
   'Arcturus',
   'Ardilla',
   'Argentina',
   'Argentina-1',
   'Argentina-2',
   'Blue Red',
   'Covunco III',
   'Cupidon III',
   'Djinn',
   'Gullvinge',
   'Matrero II',
   'Mizar',
   'Pampero',
   'Rampage',
   'Tango',
   'Wiking']),
 ('AFG', ['Afghanistan']),
 ('IRL',
  ['Akatonbo',
   'Aletta',
   'Ireland',
   'Ireland-1',
   'Ireland-2',
   'The Cloud',
   'Three Leaves']),
 ('POR',
  ['Alcaid',
   'Argus',
   'Calcinhas',
   'Camelia',
   'Ciocca III',
   'Espadarte',
   'Espardate',
   'Faneca',
   'Galopin De La Font',
   'Grifo III',
   'Grifo IV',
   'Hannover',
   "Ma'Lindo",
   'Notavel',
   'Oxalis',
   'Portugal',
   'Portugal-1',
   'Portugal-2',
   'Sjhxa',
   'Symphony',
   'Vicking']),
 ('AUS',
  ['Amateur Athletic Association',
   'Australia',
   'Australia-1',
   'Australia-2',
   'Australia-3',
   'Australia/Great Britain',
   'Barrenjoey',
   'Buraddoo',
   'Cambria',
   'Diablo',
   'Falcon IV',
   'Falcon VI',
   'Gabbiano',
   'Greenoaks Dundee',
   'Hornet',
   'Maryke',
   'Moorina',
   'Naiad',
   'Pakaria',
   'Paula',
   'Quando Quando',
   'Relampago',
   'Vinha'])]

## Ubicar datos que coincidad

In [ ]:
equipos_argentinos = rdd1.filter(lambda l : "ARG" in l)
equipos_argentinos.collect()

[['4', 'Acturus', 'ARG'],
 ['37', 'Antares', 'ARG'],
 ['42', 'Arcturus', 'ARG'],
 ['43', 'Ardilla', 'ARG'],
 ['45', 'Argentina', 'ARG'],
 ['46', 'Argentina-1', 'ARG'],
 ['47', 'Argentina-2', 'ARG'],
 ['119', 'Blue Red', 'ARG'],
 ['238', 'Covunco III', 'ARG'],
 ['252', 'Cupidon III', 'ARG'],
 ['288', 'Djinn', 'ARG'],
 ['436', 'Gullvinge', 'ARG'],
 ['644', 'Matrero II', 'ARG'],
 ['672', 'Mizar', 'ARG'],
 ['774', 'Pampero', 'ARG'],
 ['843', 'Rampage', 'ARG'],
 ['1031', 'Tango', 'ARG'],
 ['1162', 'Wiking', 'ARG']]

## Conteo total de todo el contenido

In [ ]:
rdd1.count()

1185

## Saber cuantos valores tiene el RDD

In [ ]:
rdd1.countApprox(20)

1185

## Crear nnuevo RDD

In [ ]:
deportistaOlimpico = spark.sparkContext.textFile("files/deportista.csv").map(lambda line:line.split(","))

In [ ]:
deportistaOlimpico2 = spark.sparkContext.textFile("files/deportista.csv").map(lambda line:line.split(","))

## Unimos RDD

In [ ]:
deportistaOlimimpicoRDD = deportistaOlimpico.union(deportistaOlimpico2)

# Conteo de datos

In [34]:
deportistaOlimimpicoRDD.count()

135574

## Ver la ultima y primera linea de un archivo

In [36]:
rdd1.top(2)

[['id', 'equipo', 'sigla'], ['999', 'Stella-2', 'NOR']]

In [37]:
deportistaOlimimpicoRDD.top(2)

[['deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo_id'],
 ['deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo_id']]

## Union de datos

In [38]:
deportistaOlimimpicoRDD.map(lambda l: [l[-1],l[:-1]]).join(rdd1.map(lambda x: [x[0],x[2]])).take(6)

[('278', (['4', 'Edgar Lindenau Aabye', '1', '34', '0', '0'], 'SWE')),
 ('278', (['4', 'Edgar Lindenau Aabye', '1', '34', '0', '0'], 'SWE')),
 ('982', (['51', 'Nstor Abad Sanjun', '1', '23', '167', '64'], 'ESP')),
 ('982', (['55', 'Antonio Abadia Beci', '1', '26', '170', '65'], 'ESP')),
 ('982', (['63', 'Jos Luis Abajo Gmez', '1', '30', '194', '87'], 'ESP')),
 ('982', (['69', 'Tamara Abalde Daz', '2', '19', '185', '72'], 'ESP'))]

## Elegir muestras aleatorias

In [39]:
deportistaOlimimpicoRDD.map(lambda l: [l[-1],l[:-1]]).join(rdd1.map(lambda x: [x[0],x[2]])).takeSample(False,6,25)

[('514', (['52460', 'Megumi Iseda', '2', '29', '157', '56'], 'JPN')),
 ('399', (['65227', 'Kurt Kuschela', '1', '23', '182', '86'], 'GER')),
 ('434', (['33915', 'Serigne Fall', '1', '0', '0', '0'], 'GUI')),
 ('259', (['12569', 'Frantiek Boko', '1', '27', '164', '59'], 'TCH')),
 ('255', (['52259', 'Kyriakos Ioannou', '1', '20', '196', '74'], 'CYP')),
 ('138',
  (['26562', 'Leondio Pasquali de Pra Filho', '1', '27', '198', '75'], 'BRA'))]

## CARGAR NUEVO RDD

In [40]:
resultado = spark.sparkContext.textFile("files/resultados.csv").map(lambda line:line.split(","))

In [41]:
resultado = resultado.filter(lambda lines : "NA" not in lines[1])

In [42]:
resultado.take(5)

[['resultado_id', 'medalla', 'deportista_id', 'juego_id', 'evento_id'],
 ['4', 'Gold', '4', '2', '4'],
 ['38', 'Bronze', '15', '7', '19'],
 ['39', 'Bronze', '15', '7', '20'],
 ['41', 'Bronze', '16', '50', '14']]

In [43]:
deportistaPais = deportistaOlimimpicoRDD.map(lambda l : [l[-1],l[: -1]]).join(rdd1.map(lambda x: [ x[0],x[2]]))

In [44]:
deportistaPais.join(resultado).take(6)

[('972',
  ((['3585', 'An JaeHyeong', '1', '23', '183', '74'], 'KOR'), 'Silver')),
 ('972', ((['19788', 'Chang YeNa', '2', '26', '172', '61'], 'KOR'), 'Silver')),
 ('972',
  ((['40891', 'Go SeongHyeon', '1', '25', '182', '85'], 'KOR'), 'Silver')),
 ('972',
  ((['44419', 'Ha JeongEun', '2', '21', '173', '66'], 'KOR'), 'Silver')),
 ('972',
  ((['45476', 'Han SangHun', '1', '23', '175', '79'], 'KOR'), 'Silver')),
 ('972',
  ((['51378', 'Hwang HyeYeong', '2', '26', '0', '0'], 'KOR'), 'Silver'))]

## Operaciones Matematicas dentro de los RDD

In [66]:
valoresMedallas = {
  'Gold':7,
  'Silver':5,
  "Bronze":4
}

In [67]:
paisesMedallas = deportistaPais.join(resultado)

In [68]:
paisesMedallas.map(lambda x: [x[1][0][-1],x[1][1]]).take(4)

[['KOR', 'Silver'], ['KOR', 'Silver'], ['KOR', 'Silver'], ['KOR', 'Silver']]

In [69]:
paisesMedallas = paisesMedallas.map(lambda x: [x[1][0][-1], valoresMedallas[x[1][1]]])

In [70]:
from operator import add

In [72]:
conclucion =  paisesMedallas.reduceByKey(add).sortBy(lambda x: x[1], ascending=False)

In [73]:
conclucion.take(4)

[('CAN', 33142), ('ARG', 12908), ('HUN', 11272), ('MEX', 6056)]